*{margin: 0px; padding: 0px;}

#header .logo
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  
  position: absolute;
  width: 325px;
  height: 161.61px;
  left: calc(50% - 325px/2);
  top: calc(50% - 161.61px/2 - 94.5px);  
}